<html>
  <head>
    <title>{{page_title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/listing.css">
    <script src="/static/browse.js" type="module" defer></script>
  </head>
  <body>
    <div id="root-container">
      <div id="navigation">
        <span class="navigation-item" id="browse-recordings"><a href="/recording">Recordings</a></span>
        <span class="navigation-item" id="browse-directories"><a href="/importer">Unindexed Directory List</a></span>
      </div>
      <div id="content">
        <div class="list-root">
          {% for item in items %}
          <div class="listing">
            {{item["title"]}}
            <br/>{{item["description"]}}
            <div class="options">
              {% for button in item['buttons'] %}
              <button class="{{button['id']}}" item="{{button['item']}}">{{button["text"]}}</button>
              {% end %}
            </div>
          </div>
          {% end %}
        </div>
      </div>
    </body>
</html>
