<html>
  <head>
    <title>Unindexed Directory List</title>
    <link rel="stylesheet" href="/static/import.css">
  </head>
  <body>
    <div class="directory-list-root">
      {% for idx, entry in enumerate(directory_list) %}
      <div class="directory-listing">
        <div class="directory-listing-detail">
          {{entry.name}}
          <br/>{{len(entry.audio)}} tracks
        </div>
        <div class="directory-options">
          <form action="/importer" method="get">
            <button type="submit" name="directory" value="{{entry.name}}">Add directory to library</button>
            <button type="submit" name="directory" value="{{entry.parent}}">Add parent to library</button>
          </form>
        </div>
      </div>
      {% end %}
    </div>
  </body>
</html>
