<html>
  <head>
    <title>Unindexed Directory List</title>
    <link rel="stylesheet" href="/static/import.css">
  </head>
  <body>
    <div class="directory-list-root">
      {% for idx, entry in enumerate(directory_list) %}
      <div class="directory-listing">
        <div class="directory-listing-detail">
          {{entry.name}}
          <br/>{{len(entry.audio)}} tracks
        </div>
        <div class="directory-options">
          <button name="directory" onclick="window.location.href='/importer/{{entry.id}}'">Add directory to library</button>
          <button name="directory" onclick="window.location.href='/importer/{{entry.id}}?parent=true'">Add parent to library</button>
        </div>
      </div>
      {% end %}
    </div>
  </body>
</html>
