<html>
  <head>
    <title>Add directory to library: {{entry.name}}</title>
    <link rel="stylesheet" href="/static/import.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>const root = "{{entry.name}}"; const prefix = "file"; const recording_id = "{{entry.id}}";</script>
    <script src="/static/import.js" defer></script>
    {% if len(entry.images) %}
    <script src="/static/image_selector.js" defer></script>
    {% end %}
    {% if len(entry.text) %}
    <script src="/static/recording_info.js" defer></script>
    {% end %}
  </head>
  <body>
    <div id="directory-detail">
      <div id="directory-overview">
        <p>Displaying data from {{entry.name}}
        <input type="button" id="add-to-library" name="{{entry.id}}" value="Add to Library" />
        </p>
      </div>
      {% if len(entry.images) %}
      <div id="images-available">
        <img id="cover-image" src="/file/{{entry.images[0]}}" />
        <select id="select-image" name="artwork">
          {% for filename in entry.images %}
          <option value="{{filename}}">{{entry.get_display_name(filename)}}</option>
          {% end %}
        </select>
      </div>
      {% else %}
      <p>No images available</p>
      {% end %}
      <div id="parsed-recording-data">
        <div id="recording-info-container">
          <label class="recording-label" for="title">Title</label> 
          <input class="recording-input" type="text" id="title" name="title" size="30"></input>
          <label class="recording-label" for="artist">Artist</label>
          <input class="recording-input" type="text" id="artist" name="artist" size="30"></input>
          <label class="recording-label" for="recording-date">Date</label>
          <input class="recording-input" type="text" id="recording-date" name="recording-date" size="30"></input>
          <label class="recording-label" for="venue">Venue</label>
          <input class="recording-input" type="text" id="venue" name="venue" size="30"></input>
        </div>
        <div id="tracklist-container">
          {% for idx, track in enumerate(entry.audio) %}
          <div class="tracklist-entry">
            <div class="tracklist-position">{{idx + 1}}</div>
            <label class="tracklist-label" for="{{track}}">{{entry.get_display_name(track)}}</label>
            <input class="tracklist-input" id="{{track}}" name="{{track}}" size="40"></input>
            <button type="button" class="material-icons move-up">arrow_upward</button>
            <button type="button" class="material-icons move-down">arrow_downward</button>
          </div>
          {% end %}
          {% if len(entry.text) %}
          <div id="tracklist-options">
            <input type="button" id="shift-names" value="Shift track names up" />
            <input type="button" id="reapply-names" value="Reapply extracted names" />
          </div>
          <div id="raw-recording-info">
            Extract recording information from
            <select id="select-text">
              {% for filename in entry.text %}
              <option value="{{filename}}">{{entry.get_display_name(filename)}}</option>
              {% end %}
            </select>
            <pre id="raw-text"></pre>
          </div>
          {% else %}
          <p>No text files available</p>
          {% end %}
        </div>
      </div>
    </div>
  </body>
</html>
