<html>
  <head>
    <title>Now Playing</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/player.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/css/recording.css">
    <link rel="stylesheet" href="/static/css/rating-container.css">
    <link rel="stylesheet" href="/static/css/log.css">
    <script src="/static/{{script}}" type="module" defer></script>
  </head>
  <body>
    <div id="root-container">
      <div id="navigation">
        <span class="navigation-item" id="now-playing"><a href="/">Now Playing</a></span>
        <span class="navigation-item" id="browse-recordings"><a href="/recording">Recordings</a></span>
        <span class="navigation-item" id="browse-directories"><a href="/importer">Unindexed Directory List</a></span>
        <span class="navigation-item" id="log-view"><a href="/log">Logs</a></span>
      </div>
      <div id="content">
      </div>
    </body>
</html>
