<html>
  <head>
    <title>{{page_title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/recording.css">
    <link rel="stylesheet" href="/static/css/rating-container.css">
    <script src="/static/recording.js" type="module" defer></script>
  </head>
  <body>
    <div id="root-container">
      <div id="navigation">
      </div>
      <div id="content">

          <div is="recording-container" directory="{{recording['directory']}}" context="{{context}}">

          <div id="recording-overview">
            <span>{{page_title}}</span>
          </div>

          <div is="recording-image" {% raw images %}>
            <p>No images available</p>
          </div>

          <div is="recording-info"
               title="{{recording['title']}}"
               artist="{{recording['artist']}}"
               recording-date="{{recording['recording_date']}}"
               venue="{{recording['venue']}}"
               {% if recording["rating"] %}rating="{{recording['rating']}}"{% end %}
               {% if recording["sound_rating"] %}sound-rating="{{recording['rating']}}"{% end %}>
          </div>

          <div is="tracklist-container">

            {% for track in recording["tracks"] %}
            <div is="tracklist-entry"
                 title="{{track['title']}}" 
                 filename="{{track['filename']}}" 
                 {% if track["rating"] %}rating="{{track['rating']}}"{% end %}
                 listen-count="{{track['listen_count']}}"
                 track-num={{track['track_num']}}>
            </div>
            {% end %}

            <div is="raw-recording-info" {% raw text %}>
              <p>No notes available.</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </body>
</html>
