.list-root {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

.directory-listing, .recording-listing {
    display: contents;
    color: #000;
}

.directory-listing:nth-child(even), .recording-listing:nth-child(even) {
    background-color: #eee;
}

.directory-listing-heading, .recording-listing-heading {
    font-size: large;
    font-weight: bold;
    display: contents;
}

span[class^='list-'] {
    font-size: large;
    background-color: inherit;
    display: flex;
    align-items: center;
}

.list-artist {
    grid-column: 1;
}

.list-title {
    grid-column: 2;
}

.list-date {
    grid-column: 3;
}

.list-rating {
    grid-column: 4;
}

.list-sound-rating {
    grid-column: 5;
}

.list-actions {
    grid-column: 6;
}
