
/* Directory listing only */

.list-root {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

.listing, .recording-listing {
    display: contents;
    grid-auto-flow: column;
    color: #000;
}

.listing:nth-child(even), .recording-listing:nth-child(even) {
    background-color: #eee;
}

.recording-listing-heading {
    font-size: large;
    font-weight: bold;
    display: contents;
}

.options {
    align-self: center;
    justify-self: end;
    padding-left: 20px;
}

span[class^='list-'] {
    font-size: large;
    background-color: inherit;
}

.list-artist {
    grid-column: 1;
}

.list-title {
    grid-column: 2;
}

.list-date {
    grid-column: 3;
}

.list-rating {
    grid-column: 4;
}

.list-sound-rating {
    grid-column: 5;
}

.list-actions {
    grid-column: 6;
}
