.list-root {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

.list-row, .list-row-child {
    display: contents;
    color: #000;
}

.list-row:hover, .list-row-child:hover { background-color: #ccf; }

.list-heading {
    font-size: large;
    font-weight: bold;
    background-color: #eee;
    display: contents;
}

.list-row-highlighted {
    background-color: #eee;
}

.list-cell {
    font-size: large;
    padding-right: 20px;
}

.list-search-bar {
    grid-column: 1 / 9;
    padding-bottom: 10px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-content: start;
}

.list-search-label {
    grid-column: 1;
    font-weight: bold;
}

.list-search-select { grid-column: 2; }
.list-search-input { grid-column: 3; }
.list-search-show { grid-column: 4; }
.list-search-hide { grid-column: 5; }
.list-search-official { grid-column: 7; align-content: center; }
.list-search-nonofficial { grid-column: 8; align-content: center; }
.list-search-unrated { grid-column: 9; align-content: center; }

.list-search-criterion { display: contents; }

.list-search-hidden { grid-column: 1; }

.list-search-name { grid-column: 2; }
.list-search-value { grid-column: 3; }
.list-search-remove { grid-column: 5; }

.directory-list-directory { grid-column: 1; }
.directory-list-audio { grid-column: 2; }
.directory-list-images { grid-column: 3; }
.directory-list-text { grid-column: 4; }
.directory-list-add { grid-column: 5; }

.recording-list-artist { grid-column: 1; }
.recording-list-title { grid-column: 2; }
.recording-list-date { grid-column: 3; }
.recording-list-rating { grid-column: 4; }
.recording-list-sound-rating { grid-column: 5; }
.recording-list-view { grid-column: 6; }
.recording-list-queue { grid-column: 7; }
.recording-list-play { grid-column: 8; }

.playlist-add-new {
    font-size: large;
    padding-right: 5px;
}

.playlist-list-name { grid-column: 1 }
.playlist-list-tracks { grid-column: 2 }
.playlist-list-rating { grid-column: 3 }
.playlist-list-view { grid-column: 4 }
.playlist-list-queue { grid-column: 5 }
.playlist-list-play { grid-column: 6 }

.track-list-title { grid-column: 1; width: max-content; }
.track-list-recording { grid-column: 2; width: max-ccontent; }
.track-list-artist { grid-column: 3; width: max-content; }
.track-list-rating { grid-column: 4; width: max-content; }
.track-list-add { grid-column: 5; }
