.list-root {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

.list-row, .list-row-child {
    display: contents;
    color: #000;
}

.list-row:nth-of-type(even) {
    background-color: #eee;
}

.list-row:hover, .list-row-child:hover { background-color: #ccf; }

.list-heading {
    font-size: large;
    font-weight: bold;
    display: contents;
}

.list-cell {
    font-size: large;
    background-color: inherit;
    padding-right: 20px;
}

.list-search-bar {
    grid-column: 1 / 9;
    padding-bottom: 10px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-content: start;
}

.list-search-label {
    grid-column: 1;
    font-weight: bold;
}

.list-search-select { grid-column: 2; }
.list-search-input { grid-column: 3; }
.list-search-show { grid-column: 4; }
.list-search-hide { grid-column: 5; }

.list-search-hidden {
    grid-column 1; 
}

.list-search-name { grid-column: 2; }
.list-search-value { grid-column: 3; }
.list-search-remove { grid-column: 5; }

.directory-list-directory { grid-column: 1; }
.directory-list-audio { grid-column: 2; }
.directory-list-images { grid-column: 3; }
.directory-list-text { grid-column: 4; }
.directory-list-add { grid-column: 5; }

.recording-list-artist { grid-column: 1; }
.recording-list-title { grid-column: 2; }
.recording-list-date { grid-column: 3; }
.recording-list-rating { grid-column: 4; }
.recording-list-sound-rating { grid-column: 5; }
.recording-list-view { grid-column: 6; }
.recording-list-play { grid-column: 7; }
.recording-list-queue { grid-column: 8; }
