#root-container {
    display: grid;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000;
    font-size: large;
}

a:hover {
    background-color: #eee;
}

#navigation {
    justify-content: start;
    padding: 20px;
}

.navigation-item {
    padding-right: 15px;
}

#content {
    justify-content: start;
}

.material-icons {
    vertical-align: bottom;
}
