body {
    font-family: 'Public Sans';
}

#root-container {
    display: grid;
    justify-content: center;
    margin: 0 80px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: large;
}

a:hover {
    font-weight: bold;
}

span, div {
    background-color: inherit;
}

#navigation {
    background-color: #ddd;
    padding: 5px;
    margin: 10px 0;
}

.navigation-item {
    padding-right: 15px;
}

#content {
    justify-content: start;
}

.material-icons {
    vertical-align: bottom;
    background-color: inherit;
    width: min-content;
}

.material-icons:hover {
    background-color: #aaf;
}

.disabled-icon {
    color: #aaa;
}

.error-display {
    padding: 10px 0;
}

.error-heading {
    font-size: large;
}

.error-message {
    padding: 5px;
}
