#player-container {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-row-gap: 20px;
}

#current-track {
    display: grid;
    grid-template-columns: fit-content(25%) auto;
    grid-column-gap: 15px;
    align-items: start;
}

#current-stream {
    display: grid;
}

#player-controls {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.control-container {
    width: min-content;
}

.control-icon {
    font-size: xx-large;
    width: min-content;
}

#bullshit-container-1 {
    grid-column: 1;
}

#bullshit-container-2 {
    grid-column: 2;
    display: grid;
}

#artwork {
    object-fit: cover;
}

#bullshit-container-1::after {
    padding-bottom: 100%;
}

#track-title {
    grid-row: 1;
    font-size: x-large;
    font-weight: bold;
    padding-top: 10px;
}

#recording-title {
    grid-row: 2;
    width: max-content;
}

#recording-link {
    font-size: large;
    font-style: italic;
}

#stream-url {
    font-size: large;
    grid-row: 1;
}

#stream-title-container {
    grid-row: 2;
    overflow: hidden;
}

@keyframes stream-title-container {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

#stream-title {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    width: max-content;
    padding-left: 100%;
    padding-top: 8px;
    animation: stream-title-container 15s linear infinite;
}

#track-artist {
    grid-row: 3;
    font-size: large;
}

#track-rating {
    padding-top: 10px;
}

#player-tracklist {
    display: grid;
    grid-row-gap: 5px;
    align-items: center;
}

.tracklist-heading {
    grid-column: 1 / 7;
    display: grid;
    grid-auto-flow: column;
    justify-items: stretch;
    align-items: center;
    font-size: large;
    font-weight: bold;
    padding: 5px 0;
}

.tracklist-heading-option {
    padding-right: 10px;
}

.tracklist-heading-selected, .tracklist-heading-option:hover {
    text-decoration: underline;
}

#playlist-view {
    align-content: center;
}

#playlist-controls {
    display: flex;
    justify-content: end;
    font-size: large;
}

.list-toggle {
    grid-column: 1 / 7;
    display: inline-grid;
    justify-items: center;
    padding: 5px;
}

.playlist-entry {
    display: contents;
}

.playlist-entry-current {
    background-color: #ccf;
}

.playlist-title {
    grid-column: 1;
    font-weight: bold;
    align-self: stretch;
}

.playlist-recording {
    grid-column: 2;
    font-style: italic;
    padding: 0 15px;
    align-self: stretch;
}

.playlist-artist {
    grid-column: 3;
    padding-right: 15px;
    align-self: stretch;
}

.move-up { grid-column: 4; }
.move-down { grid-column: 5; }
.remove-track { grid-column: 6; } 

.recent-rating { grid-column: 4 / 7; }


