/* --- Player layout --- */
#player-container {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-row-gap: 20px;
}

#audio-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content;
}
#audio-bar-background {
    border: solid 1px var(--dark-bg);
    background-color: var(--light-bg);
    margin-right: 10px;
}
#audio-current-position {
    background-color: var(--action-hover);
    height: 100%;
}
#audio-elapsed {
    display: none;
    position: absolute;
    border: solid 1px #333;
    background-color: var(--highlight-color);
    padding: 2px 3px;
}
#audio-duration { font-size: large; }

#player-controls {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}
.control-icon {
    font-size: xx-large;
}

/* --- Player current track --- */
#current-track {
    display: grid;
    grid-template-columns: fit-content(25%) auto;
    grid-column-gap: 15px;
    align-items: start;
}

#bullshit-container-1 { grid-column: 1; }
#bullshit-container-1::after { padding-bottom: 100%; }
#bullshit-container-2 {
    grid-column: 2;
    display: grid;
}

#artwork { object-fit: cover; }

#track-title, #podcast-title {
    grid-row: 1;
    font-size: x-large;
    font-weight: bold;
    padding-top: 10px;
}

#recording-title, #podcast-name {
    grid-row: 2;
    width: max-content;
}

#recording-link, #podcast-link {
    font-size: large;
    font-style: italic;
}

#track-artist {
    grid-row: 3;
    font-size: large;
}

#track-rating, #podcast-rating { padding-top: 10px; }

#podcast-description {
    padding: 20px 0;
    max-width: 1000px;
}

/*  --- Player stream --- */
#current-stream { display: grid; }

#station-data { justify-self: center; }

#stream-url {
    font-size: large;
    grid-row: 1;
}

#stream-title-container {
    grid-row: 2;
    overflow: hidden;
}

@keyframes stream-title-container {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

#stream-title {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    width: max-content;
    padding-left: 100%;
    padding-top: 8px;
    animation: stream-title-container 15s linear infinite;
}

