#player-container {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-row-gap: 20px;
}

#current-track {
    display: grid;
    grid-template-columns: fit-content(25%) auto;
    grid-column-gap: 15px;
    align-items: start;
}

#player-controls {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.control-container {
    width: min-content;
}

.control-icon {
    font-size: xx-large;
}

#bullshit-container-1 {
    grid-column: 1;
}

#bullshit-container-2 {
    grid-column: 2;
    display: grid;
}

#artwork {
    object-fit: cover;
}

#bullshit-container-1::after {
    padding-bottom: 100%;
}

#track-title {
    grid-row: 1;
    font-size: x-large;
    font-weight: bold;
    padding-top: 10px;
}

#recording-title {
    grid-row: 2;
    width: max-content;
}

#recording-link {
    font-size: large;
    font-style: italic;
}

#track-artist {
    grid-row: 3;
    font-size: large;
}

#track-rating {
    padding-top: 10px;
}

#next-tracks, #recently-played {
    display: grid;
    grid-row-gap: 5px;
    align-items: center;
}

.tracklist-heading {
    grid-column: 1 / 7;
    display: inline-grid;
    justify-items: center;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}

.list-toggle {
    grid-column: 1 / 7;
    display: inline-grid;
    justify-items: center;
    padding: 5px;
}

.next-tracks-entry, .recently-played-entry {
    display: contents;
}

.playlist-entry:nth-child(2) .recently-played-entry:nth-child(2) {
    font-size: large;
}

.playlist-title {
    grid-column: 1;
    font-weight: bold;
    width: max-content;
}

.playlist-recording {
    grid-column: 2;
    font-style: italic;
    width: max-content;
    padding: 0 15px;
}

.playlist-artist {
    grid-column: 3;
    width: max-content;
    padding-right: 15px;
}

.move-up { grid-column: 4; }
.move-down { grid-column: 5; }
.remove-track { grid-column: 6; } 

.recent-rating { grid-column: 4 / 7; }
