.station-edit {
    display: grid;
    justify-content: start;
    padding: 15px 0px 15px 0px;
}

.station-edit-heading {
    grid-column: 2;
    font-size: large;
    font-weight: bold;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-self: stretch;
}

.station-edit-text { justify-self: start; }

.station-edit-icons { justify-self: end; }

.station-edit-add { width: min-content; }
.station-edit-save { width: min-content; }
.station-edit-undo { width: min-content; }
.station-edit-cancel { width: min-content; }

.editable-info { display: contents; }
.editable-label {
    grid-column: 1;
    justify-self: end;
    align-self: center;
    padding-right: 10px;
}

.editable-input { grid-column: 2; }

.station-list-name { grid-column: 1; }
.station-list-website { grid-column: 2; }
.station-list-minutes-listened { grid-column: 3; }
.station-list-last-listened { grid-column: 4; }
.station-list-rating { grid-column: 5; }
.station-list-edit { grid-column: 6; }
.station-list-play { grid-column: 7; }
.station-list-delete { grid-column: 8; }
